Source: gooroom-boot-protector
Section: utils
Priority: optional
Maintainer: gooroom <gooroom@gooroom.kr>
Build-Depends: debhelper (>= 9), wget, gnupg, openssl, sbsigntool,
 uuid-runtime, efitools, gooroom-archive-keyring, gooroom-grub-efi-amd64-bin
Standards-Version: 3.9.8
Homepage: http://www.gooroom.kr
Vcs-Git: https://git.gooroom.kr/gooroom-boot-protector.git

Package: gooroom-boot-protector
Architecture: amd64
Depends: gooroom-grub-common, gooroom-grub-efi-amd64, gooroom-grub2-common,
 linux-image-4.9.0-3-amd64 (= 4.9.30-2+deb9u5+grm1u1)
Description: Gooroom Platforom boot protection
 Gooroom Platform boot protection for secureboot and grub signature verification
